.blurb h2 {
    color: var(--main-text-color);
    font-weight: var(--font-weight);
    font-size: var(--gallery-h2-font-size);
}

.blurb p {
    color: var(--blurb-text-color);
    font-weight: var(--font-weight);
    font-size: calc(--gallery-h2-font-size / 2.222);
    line-height: 2;
}

.content {
    margin-top: 100px;
}